Options +FollowSymlinks
RewriteEngine On
#pour les alias
RewriteBase /PHP/annee2/ludotheque_romeo

RewriteRule ^([a-z]+)$ index.php?action=$1 [L] 
RewriteRule ^([a-z]+)-([0-9]+)$ index.php?action=$1&id=$2 [L]